---
// Button
// ------------
// Description: Buttons are interactive elements activated by a user with a mouse, keyboard, or tap
// Properties:
// - Type: the type of the button (link, button, submit, reset). If its type is link, the button will be rendered as an anchor tag
// - Size: the size of the button (lg, base, sm)
// - Link: the link of the button (if type is link)
// - Modal: The id of the modal that the button can trigger (optional)
// - Style: the style of the button (primary, secondary, neutral)
// - Variation: the variation of the button (defaultoutline, link)
// - Elevated: whether the button is elevated or not (optional)
// - classes: additional classes
// Reference: https://wind-ui.com/components/buttons/

// Props
type Props = {
	type?: 'link' | 'button' | 'submit' | 'reset'
	size?: 'lg' | 'base' | 'sm'
	link?: string
	modal?: string
	style?: 'primary' | 'secondary' | 'neutral'
	variation?: 'outline' | 'link'
	elevated?: boolean
	classes?: string
}
const {
	type = 'button',
	size = 'base',
	link,
	modal,
	style = 'primary',
	variation,
	elevated,
	classes
} = Astro.props
---

{
	type === 'link' || link ? (
		<a
			href={link}
			class:list={[
				'button',
				{ ['button--' + `${size}`]: size },
				{ ['button--' + `${style}`]: style },
				{ ['button--' + `${variation}`]: variation },
				{ ['button--elevated']: elevated },
				{ [`${classes}`]: classes }
			]}
		>
			<slot />
		</a>
	) : (
		<button
			type={type}
			class:list={[
				'button',
				{ ['button--' + `${size}`]: size },
				{ ['button--' + `${style}`]: style },
				{ ['button--' + `${variation}`]: variation },
				{ ['button--elevated']: elevated },
				{ [`${classes}`]: classes }
			]}
			{...(modal ? { 'data-modal': modal } : {})}
		>
			<slot />
		</button>
	)
}
