---
// Imports
// Components
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'

// Styles & Scripts
import Scriprs from '../components/includes/LocalScripts.astro'
// Fonts
import '@fontsource-variable/figtree'
// Data
import { configData } from '../config/config'

// Props
type Props = {
	title?: string
	description?: string
	ogImage?: string
	noindex?: boolean
}
// Page Metadata
const { title, description, ogImage, noindex } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-animation mode-auto">
	<Head title={title} description={description} ogImage={ogImage} noindex={noindex} />
	<body
		class:list={[
			{ ['mode-' + `${configData.mode}`]: configData.mode },
			{ ['scroll-animation']: configData.scrollAnimations }
		]}
	>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
		<Scriprs />
	</body>
</html>
